.login-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-main h1{
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 30px;
}

.login-container{
    border: 0.5px solid var(--var-azul-claro);
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: var(--var-border-radius);
    padding: 10px;
    width: 30%;
    min-width: 300px;
    text-align: center;
}

.login-container p{
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
}

.login-container hr{
    margin: 15px 5px;
    height: 1.5px;
    border: none;
    background-color: var(--var-azul-claro);
}

.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form input{
    margin: 10px 0;
    padding: 5px 7px;
    background-color: var(--var-branco);
    border-radius: var(--var-border-radius);
    border: none;
    width: 250px;
    height: 35px;
    font-size: 13px;
}

.login-form span {
    color: red;
    font-size: 10px;
}

.button{
    margin: 10px 0;
}

.login-form .redefinir{
    font-size: 15px;
    font-weight: bold;
    margin: 0;
}
