h1 {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

p {
    padding-top: 20px;
    font-size: 14px;
}

#content {
    display: flex;
    flex-direction: row;
}

.card-1 {  
    margin-left: 1%;
    padding: 30px 30px 30px 30px;
    width: 90%;
    border-right: solid black ;
}

.card-2 {
    padding: 30px 30px 30px 30px;
    width: 300px
}

#rua {
    max-width: 100%;
    padding-top: 10px;
}

footer {
    background-color: var(--var-azul-escuro);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 16px 0 10px 0; 
}

footer #imgfooter {
    width: 24px;
    height: 24px;
}

footer #rodape {
    font-size: 14px;
    line-height: 20px;
    color: #fff;
}

footer ul li {
    display: inline-block; 
    padding: 0 12px;
    border-right: 2px solid #ffffff;
    text-decoration: none;
}

footer ul li:last-child {
    border-right: none;
}

